@font-face {
  font-family: 'bos';
  src: local('bos'), url('../fonts/BOOKOS.ttf') format('ttf');
  font-weight: normal;
  font-style: normal
}
@font-face {
  font-family: 'bosb';
  src: local('bosb'), url('../fonts/BOOKOSB.ttf') format('ttf');
  font-weight: bold;
  font-style: normal
}
@font-face {
  font-family: 'geo';
  src: local('geo'), url('../fonts/Georgia.ttf') format('ttf');
  font-weight: normal;
  font-style: normal
}
