<section class="camp1-hero4">
  <h1>What will you stand for?</h1>
  <div>
    <a href="/g/survey"><button>Take a Survey</button></a>
  </div>
  <div>
    <a href=""><button>Learn More About CampSmith</button></a>
  </div>
  <div>
    <a href=""><button>See Current Popular Camps</button></a>
  </div>
</section>
<section>

</section>
