<div class="popupMessage" id="chatUpdatePopup<%= @chat_id %>">
  New messsage in <%= @name %> <button class="button-small openChatButton" data-popup="true" data-chat=<%= @chat_id %>>Open Chat</button>
</div>
